/************ HERO SECTION ************/

.container {
  padding: 50px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    @extend .h1Template;
  }

  &__paragraph {
    line-height: 2;
  }
}

.imgcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    width: 100%;
    transition: transform 0.3s ease;
  }

  &__img:hover {
    transform: scale(1.3);
  }
}

.datacontact {
  margin-top: 3em;
  &__ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }
}

// MAPS
$datacontact: (
  direction: #a9294f,
  telephone: #dd4b39,
  mail: #0077b5
);

@each $name, $color in $datacontact {
  .#{$name} {
    background-color: $color;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
  }
}

/************ MEDIA QUERIES ************/
@media screen and (min-width: 576px) {
  @each $name, $color in $datacontact {
    .#{$name} {
      font-size: 12px;
      margin-bottom: 1.2em;
    }
  }

  .datacontact {
    &__ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  @each $name, $color in $datacontact {
    .#{$name} {
      font-size: .8em;
    }
  }

  .datacontact {
    margin-top: 3em;
    &__ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style: none;
    }
  }
}

@media screen and (min-width: 992px) {
  @each $name, $color in $datacontact {
    .#{$name} {
      font-size: 1em;
    }
  }
}